# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Tooling / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
